// Colors
$darkCyan: hsla(192, 37%, 48%, 1);
$darkViolet: hsla(268, 34%, 53%, 1);
$lightCyan: hsla(192, 90%, 77%, 1);
$lightViolet: hsla(268, 100%, 86%, 1);
$black: rgb(55, 55, 82);
$gray: hsla(240, 10%, 57%, 1);
$lightGray: hsla(240, 10%, 57%, 0.25);
$white: hsla(0, 0%, 98%, 1);
$cyanHover: hsla(192, 54%, 64%, 1);
$violetHover: hsla(268, 55%, 71%, 1);
